In [1]:
import numpy as np
import pandas as pd


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/ingre-pred/submission_x1.csv
/kaggle/input/ingre-pred/submission_z3.csv
/kaggle/input/ingre-pred/submission_z1.csv
/kaggle/input/ingre-pred/submission_y1.csv
/kaggle/input/ingre-pred/submission_y3.csv
/kaggle/input/ingre-pred/submission_x3.csv
/kaggle/input/ingre-pred/submission_w2.csv
/kaggle/input/ingre-pred/submission_w1.csv
/kaggle/input/ingre-pred/submission_z2.csv
/kaggle/input/ingre-pred/submission_y2.csv
/kaggle/input/ingre-pred/submission_x2.csv
/kaggle/input/ingre-pred/submission_w3.csv

In [2]:
# Suppose you have four DataFrames with predictions for each subset
df_w1_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_w1.csv")
df_w2_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_w2.csv")
df_w3_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_w3.csv")
df_x1_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_x1.csv")
df_x2_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_x2.csv")
df_x3_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_x3.csv")
df_y1_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_y1.csv")
df_y2_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_y2.csv")
df_y3_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_y3.csv")
df_z1_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_z1.csv")
df_z2_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_z2.csv")
df_z3_pred = pd.read_csv("/kaggle/input/ingre-pred/submission_z3.csv")

In [3]:
# Concatenate the four DataFrames back into one DataFrame
df_merged_pred = pd.concat([df_w1_pred, df_x1_pred, df_y1_pred, df_z1_pred,
                           df_w2_pred, df_x2_pred, df_y2_pred, df_z2_pred,
                           df_w3_pred, df_x3_pred, df_y3_pred, df_z3_pred])

In [4]:
# Sort the merged DataFrame by index to preserve the original positions
df_merged_pred = df_merged_pred.sort_index()

In [5]:
df_merged_pred.head()

         id        yield
0         0    63.530056
0   2260082    15.533137
0         8  1254.622434
0  28439135    66.018620
0  28159115  2648.261500

In [6]:
# Sort the dataframe by ID
df_merged_pred = df_merged_pred.sort_values(by=['id'])

In [7]:
# Reset the index to start from 0 and drop the old index
df_merged_pred = df_merged_pred.reset_index(drop=True)

In [8]:
df_merged_pred.head()

   id       yield
0   0   63.530056
1   1   58.683303
2   2   68.633995
3   3   87.466589
4   4  183.045940

In [9]:
df_merged_pred.shape

(21154797, 2)

as we can see above shape doesn't match with the submission file shape so let's drop some rows

In [10]:
# Number of rows to drop 
n = 305997
  
# Removing last n rows 
Test_Data = df_merged_pred.iloc[:-n] 
  
# Printing dataframe 
Test_Data.head(10)

   id        yield
0   0    63.530056
1   1    58.683303
2   2    68.633995
3   3    87.466589
4   4   183.045940
5   5    71.333035
6   6    91.828872
7   7   187.640686
8   8  1254.622434
9   9   125.652248

In [11]:
# creating submission file
Test_Data.to_csv('submission_ingred.csv', index = None)